.maincontent{
    padding: 5px;
    margin: 10px;
    background-color: lightgrey;
}

.maincontent > p{
    margin-left: 10px;
}

.maincontent > h1{
    text-align: center;

}

footer {

    text-align: center;
    padding: 5px;
    margin: 10px;
    background-color: black;
    
}
.contactus{
    color: green;
}
h5{
    color: green;
}



body{
    border: 2px solid black;
}

header{
    
    text-align: center;
    padding: 5px;
    margin: 10px;
    background-color: black;

}

.mainpage{
    color: green;
}

h2{
    display: inline-block;
    padding: 5px;
}